# Environnements virtuels
venv/
.venv/
env/
__pycache__/
*.py[cod]

# Variables d'environnement & Secrets (CRITIQUE)
.env
.env.local
secrets.toml

# Streamlit
.streamlit/

# IDE & OS
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Ignorer les données brutes lourdes
data/1_raw_data/
# Mais on garde la structure des dossiers (optionnel mais propre)
!data/1_raw_data/.gitkeep