{"swagger":"2.0","host":"prim.iledefrance-mobilites.fr","basePath":"/marketplace/v2/navitia/isochrones","schemes":["https"],"securityDefinitions":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"apikey"}},"security":{"APIKeyHeader":[]},"paths":{"/isochrones":{"get":{"description":"","operationId":"get_coverage__region__isochrones","produces":["application/json"],"parameters":[{"description":"The id of the departure of your journey. If not provided an isochrone is computed.","required":false,"in":"query","name":"from","type":"string"},{"description":"The id of the arrival of your journey. If not provided an isochrone is computed.","required":false,"in":"query","name":"to","type":"string"},{"description":"Date and time to go/arrive (see `datetime_represents`).\nNote: the datetime must be in the coverage’s publication period.","required":false,"in":"query","name":"datetime","type":"string"},{"description":"Determine how datetime is handled.\n\nPossible values:\n * 'departure' - Compute journeys starting after datetime\n * 'arrival' - Compute journeys arriving before datetime","required":false,"in":"query","name":"datetime_represents","type":"string"},{"description":"Maximum number of transfers in each journey","format":"int32","required":false,"in":"query","name":"max_nb_transfers","type":"integer"},{"description":"Minimum number of transfers in each journey","format":"int32","required":false,"in":"query","name":"min_nb_transfers","type":"integer"},{"description":"Force the first section mode if the first section is not a public transport one.\n`bss` stands for bike sharing system.\nNote 1: It’s an array, you can give multiple modes.\nNote 2: Choosing `bss` implicitly allows the walking mode since you might have to walk to the bss station.\nNote 3: The parameter is inclusive, not exclusive, so if you want to forbid a mode, you need to add all the other modes. Eg: If you never want to use a car, you need: `first_section_mode[]=walking&first_section_mode[]=bss&first_section_mode[]=bike&last_section_mode[]=walking&last_section_mode[]=bss&last_section_mode[]=bike`","required":false,"items":{"type":"string"},"in":"query","name":"first_section_mode[]","type":"array"},{"description":"Same as first_section_mode but for the last section.","required":false,"items":{"type":"string"},"in":"query","name":"last_section_mode[]","type":"array"},{"description":"Maximum allowed duration to reach the public transport (same limit used before and after public transport).\nUse this to limit the walking/biking part.\nUnit is seconds","format":"int32","required":false,"in":"query","name":"max_duration_to_pt","type":"integer"},{"description":"Maximal duration of walking on public transport in second","format":"int32","required":false,"in":"query","name":"max_walking_duration_to_pt","type":"integer"},{"description":"Maximal duration of bike on public transport in second","format":"int32","required":false,"in":"query","name":"max_bike_duration_to_pt","type":"integer"},{"description":"Maximal duration of bss on public transport in second","format":"int32","required":false,"in":"query","name":"max_bss_duration_to_pt","type":"integer"},{"description":"Maximal duration of car on public transport in second","format":"int32","required":false,"in":"query","name":"max_car_duration_to_pt","type":"integer"},{"description":"Maximal duration of ridesharing on public transport in second","format":"int32","required":false,"in":"query","name":"max_ridesharing_duration_to_pt","type":"integer"},{"description":"Walking speed for the fallback sections.\nSpeed unit must be in meter/second","required":false,"in":"query","name":"walking_speed","type":"number"},{"description":"Biking speed for the fallback sections.\nSpeed unit must be in meter/second","required":false,"in":"query","name":"bike_speed","type":"number"},{"description":"Speed while using a bike from a bike sharing system for the fallback sections.\nSpeed unit must be in meter/second","required":false,"in":"query","name":"bss_speed","type":"number"},{"description":"Driving speed for the fallback sections.\nSpeed unit must be in meter/second","required":false,"in":"query","name":"car_speed","type":"number"},{"description":"ridesharing speed for the fallback sections.\nSpeed unit must be in meter/second","required":false,"in":"query","name":"ridesharing_speed","type":"number"},{"description":"taxi speed speed for the fallback sections.\nSpeed unit must be in meter/second","required":false,"in":"query","name":"taxi_speed","type":"number"},{"description":"If you want to avoid lines, modes, networks, etc.\nNote: the forbidden_uris[] concern only the public transport objects. You can’t for example forbid the use of the bike with them, you have to set the fallback modes for this (first_section_mode[] and last_section_mode[])","required":false,"items":{"type":"string"},"in":"query","name":"forbidden_uris[]","type":"array"},{"description":"If you want to use only a small subset of the public transport objects in your solution.\nNote: The constraint intersects with forbidden_uris[]. For example, if you ask for `allowed_id[]=line:A&forbidden_uris[]=physical_mode:Bus`, only vehicles of the line A that are not buses will be used.","required":false,"items":{"type":"string"},"in":"query","name":"allowed_id[]","type":"array"},{"description":"DEPRECATED, replaced by `data_freshness`.\nIf true the algorithm takes the disruptions into account, and thus avoid disrupted public transport.\nNota: `disruption_active=true` <=> `data_freshness=realtime`","required":false,"in":"query","name":"disruption_active","type":"boolean"},{"description":"Define the freshness of data to use to compute journeys.\nWhen using the following parameter `&data_freshness=base_schedule` you can get disrupted journeys in the response. You can then display the disruption message to the traveler and make a `realtime` request to get a new undisrupted solution.\n\nPossible values:\n * 'base_schedule' - Use theoric schedule information\n * 'adapted_schedule' - Use of adapted schedule information (like strike adjusting, etc.). Prefer `realtime` for traveler information as it will also contain adapted information schedule.\n * 'realtime' - Use all realtime information","required":false,"in":"query","name":"data_freshness","type":"string"},{"description":"Maximum duration of journeys in seconds (from `datetime` parameter).\nMore usefull when computing an isochrone (only `from` or `to` is provided).\nOn a classic journey (from-to), it will mostly speedup Navitia: You may have journeys a bit longer than that value (you would have to filter them).","format":"int32","required":false,"in":"query","name":"max_duration","type":"integer"},{"description":"If true the traveler is considered to be using a wheelchair, thus only accessible public transport are used.\nBe warned: many data are currently too faint to provide acceptable answers with this parameter on.","required":false,"in":"query","name":"wheelchair","type":"boolean"},{"description":"Define speeds and accessibility values for different kind of people.\nEach profile also automatically determines appropriate first and last section modes to the covered area.\nNote: this means that you might get car, bike, etc. fallback routes even if you set `forbidden_uris[]`!\nYou can overload all parameters (especially speeds, distances, first and last modes) by setting all of them specifically.\nWe advise that you don’t rely on the traveler_type’s fallback modes (`first_section_mode[]` and `last_section_mode[]`) and set them yourself.","required":false,"in":"query","name":"traveler_type","type":"string"},{"description":"Specify if direct path should be suggested","required":false,"in":"query","name":"direct_path","type":"string"},{"description":"Radius length (in meters) around the coordinates of departure in which the stop points are considered free to go (crowfly=0)","format":"int32","required":false,"in":"query","name":"free_radius_from","type":"integer"},{"description":"Radius length (in meters) around the coordinates of arrival in which the stop points are considered free to go (crowfly=0)","format":"int32","required":false,"in":"query","name":"free_radius_to","type":"integer"},{"description":"Minimum travel duration","format":"int32","required":false,"in":"query","name":"min_duration","type":"integer"},{"description":"To provide multiple duration parameters","required":false,"items":{"format":"int32","type":"integer"},"in":"query","name":"boundary_duration[]","type":"array"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}}},"definitions":{"Address":{"required":["name","house_number","id"],"properties":{"name":{"description":"Name of the object","type":"string"},"house_number":{"type":"integer"},"coord":{"$ref":"#/definitions/Coord"},"label":{"type":"string"},"administrative_regions":{"items":{"$ref":"#/definitions/Admin"},"type":"array"},"id":{"description":"Identifier of the object","type":"string"}},"type":"object"},"ValidityPattern":{"properties":{"beginning_date":{"format":"navitia-date","type":"string"},"days":{"type":"string"}},"type":"object"},"CalendarException":{"properties":{"type":{"type":"string"},"datetime":{"format":"navitia-date","type":"string"}},"type":"object"},"FareZone":{"properties":{"name":{"type":"string"}},"type":"object"},"Network":{"required":["id","links","name"],"properties":{"codes":{"items":{"$ref":"#/definitions/Code"},"type":"array"},"id":{"description":"Identifier of the object","type":"string"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"name":{"description":"Name of the object","type":"string"}},"type":"object"},"JourneyDebug":{"required":["nb_vj_extentions","nb_sections","transfer_duration","streetnetwork_duration","min_waiting_duration"],"properties":{"nb_vj_extentions":{"description":"Number of stay-in","type":"integer"},"nb_sections":{"description":"Number of sections","type":"integer"},"internal_id":{"type":"string"},"streetnetwork_duration":{"description":"Total duration of streetnetwork use (seconds)","type":"integer"},"transfer_duration":{"description":"Total duration of transfers (seconds)","type":"integer"},"min_waiting_duration":{"description":"Minimum on all waiting durations (seconds)","type":"integer"}},"type":"object"},"StopTime":{"properties":{"stop_point":{"$ref":"#/definitions/StopPoint"},"utc_arrival_time":{"format":"navitia-time","type":"string"},"utc_departure_time":{"format":"navitia-time","type":"string"},"headsign":{"type":"string"},"arrival_time":{"format":"navitia-time","type":"string"},"journey_pattern_point":{"$ref":"#/definitions/JourneyPatternPoint"},"departure_time":{"format":"navitia-time","type":"string"}},"type":"object"},"RouteDisplayInformation":{"required":["direction","links"],"properties":{"direction":{"type":"string"},"code":{"type":"string"},"network":{"type":"string"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"color":{"type":"string"},"label":{"type":"string"},"commercial_mode":{"type":"string"},"text_color":{"type":"string"},"name":{"type":"string"}},"type":"object"},"Poi":{"required":["name","id"],"properties":{"poi_type":{"$ref":"#/definitions/PoiType"},"name":{"description":"Name of the object","type":"string"},"car_park":{"$ref":"#/definitions/CarPark"},"coord":{"$ref":"#/definitions/Coord"},"label":{"type":"string"},"administrative_regions":{"items":{"$ref":"#/definitions/Admin"},"type":"array"},"address":{"$ref":"#/definitions/Address"},"id":{"description":"Identifier of the object","type":"string"},"properties":{"type":"object"},"stands":{"$ref":"#/definitions/Stands"}},"type":"object"},"Passage":{"properties":{"display_informations":{"$ref":"#/definitions/VJDisplayInformation"},"stop_point":{"$ref":"#/definitions/StopPoint"},"route":{"$ref":"#/definitions/Route"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"stop_date_time":{"$ref":"#/definitions/StopDateTime"}},"type":"object"},"Code":{"properties":{"type":{"type":"string"},"value":{"type":"string"}},"type":"object"},"EquipmentDetails":{"properties":{"embedded_type":{"type":"string","enum":["escalator","elevator"]},"id":{"type":"string"},"name":{"type":"string"},"current_availability":{"$ref":"#/definitions/CurrentAvailability"}},"type":"object"},"TrafficReport":{"properties":{"vehicle_journeys":{"items":{"$ref":"#/definitions/VehicleJourney"},"type":"array"},"lines":{"items":{"$ref":"#/definitions/Line"},"type":"array"},"network":{"$ref":"#/definitions/Network"},"stop_areas":{"items":{"$ref":"#/definitions/StopArea"},"type":"array"}},"type":"object"},"Line":{"required":["code","links","id","name"],"properties":{"comment":{"type":"string"},"properties":{"items":{"$ref":"#/definitions/Property"},"type":"array"},"code":{"type":"string"},"network":{"$ref":"#/definitions/Network"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"color":{"type":"string"},"routes":{"items":{"$ref":"#/definitions/Route"},"type":"array"},"geojson":{"$ref":"#/definitions/MultiLineStringSchema"},"text_color":{"type":"string"},"physical_modes":{"items":{"$ref":"#/definitions/PhysicalMode"},"type":"array"},"codes":{"items":{"$ref":"#/definitions/Code"},"type":"array"},"comments":{"items":{"$ref":"#/definitions/Comment"},"type":"array"},"closing_time":{"format":"navitia-time","type":"string"},"opening_time":{"format":"navitia-time","type":"string"},"commercial_mode":{"$ref":"#/definitions/CommercialMode"},"id":{"description":"Identifier of the object","type":"string"},"line_groups":{"items":{"$ref":"#/definitions/LineGroup"},"type":"array"},"name":{"description":"Name of the object","type":"string"}},"type":"object"},"Coord":{"required":["lat","lon"],"properties":{"lat":{"type":"string"},"lon":{"type":"string"}},"type":"object"},"Header":{"required":["additional_informations"],"properties":{"display_informations":{"$ref":"#/definitions/VJDisplayInformation"},"additional_informations":{"items":{"type":"string"},"type":"array"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"}},"type":"object"},"Note":{"required":["id"],"properties":{"category":{"type":"string","enum":["comment","terminus"]},"type":{"type":"string"},"id":{"type":"string"},"value":{"type":"string"}},"type":"object"},"Effect":{"properties":{"label":{"type":"string"}},"type":"object"},"Journey":{"required":["status","tags","fare","co2_emission","duration","nb_transfers","type"],"properties":{"status":{"description":"Status from the whole journey taking into account the most disturbing information retrieved on every object used (can be \"NO_SERVICE\", \"SIGNIFICANT_DELAYS\", ...","type":"string"},"distances":{"$ref":"#/definitions/Distances"},"from":{"$ref":"#/definitions/Place"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"tags":{"items":{"type":"string"},"type":"array"},"nb_transfers":{"description":"Number of transfers along the journey","type":"integer"},"durations":{"$ref":"#/definitions/Durations"},"arrival_date_time":{"description":"Arrival date and time of the journey","format":"navitia-date-time","type":"string"},"calendars":{"items":{"$ref":"#/definitions/Calendar"},"type":"array"},"departure_date_time":{"description":"Departure date and time of the journey","format":"navitia-date-time","type":"string"},"to":{"$ref":"#/definitions/Place"},"requested_date_time":{"format":"navitia-date-time","type":"string"},"fare":{"$ref":"#/definitions/Fare"},"co2_emission":{"$ref":"#/definitions/Amount"},"type":{"description":"Used to qualify the journey (can be \"best\", \"comfort\", \"non_pt_walk\", ...","type":"string"},"duration":{"description":"Duration of the journey (seconds)","type":"integer"},"sections":{"items":{"$ref":"#/definitions/Section"},"type":"array"},"debug":{"$ref":"#/definitions/JourneyDebug"}},"type":"object"},"WeekPattern":{"properties":{"monday":{"type":"boolean"},"tuesday":{"type":"boolean"},"friday":{"type":"boolean"},"wednesday":{"type":"boolean"},"thursday":{"type":"boolean"},"sunday":{"type":"boolean"},"saturday":{"type":"boolean"}},"type":"object"},"StopAreaEquipments":{"properties":{"stop_area":{"$ref":"#/definitions/StopArea"},"equipment_details":{"items":{"$ref":"#/definitions/EquipmentDetails"},"type":"array"}},"type":"object"},"CO2":{"properties":{"co2_emission":{"$ref":"#/definitions/Amount"}},"type":"object"},"StopPoint":{"required":["links","equipments","id","name"],"properties":{"comment":{"type":"string"},"commercial_modes":{"items":{"$ref":"#/definitions/CommercialMode"},"type":"array"},"stop_area":{"$ref":"#/definitions/StopArea"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"administrative_regions":{"items":{"$ref":"#/definitions/Admin"},"type":"array"},"physical_modes":{"items":{"$ref":"#/definitions/PhysicalMode"},"type":"array"},"comments":{"items":{"$ref":"#/definitions/Comment"},"type":"array"},"label":{"type":"string"},"equipments":{"items":{"type":"string","enum":["has_wheelchair_accessibility","has_bike_accepted","has_air_conditioned","has_visual_announcement","has_audible_announcement","has_appropriate_escort","has_appropriate_signage","has_school_vehicle","has_wheelchair_boarding","has_sheltered","has_elevator","has_escalator","has_bike_depot"]},"type":"array"},"codes":{"items":{"$ref":"#/definitions/Code"},"type":"array"},"coord":{"$ref":"#/definitions/Coord"},"equipment_details":{"items":{"$ref":"#/definitions/EquipmentDetails"},"type":"array"},"address":{"$ref":"#/definitions/Address"},"fare_zone":{"$ref":"#/definitions/FareZone"},"id":{"description":"Identifier of the object","type":"string"},"name":{"description":"Name of the object","type":"string"}},"type":"object"},"LineReport":{"required":["pt_objects"],"properties":{"line":{"$ref":"#/definitions/Line"},"pt_objects":{"items":{"$ref":"#/definitions/PtObject"},"type":"array"}},"type":"object"},"Stands":{"properties":{"status":{"type":"string","enum":["unavailable","closed","open"]},"available_places":{"type":"integer"},"available_bikes":{"type":"integer"},"total_stands":{"type":"integer"}},"type":"object"},"JourneyPatternPoint":{"required":["id"],"properties":{"stop_point":{"$ref":"#/definitions/StopPoint"},"id":{"type":"string"}},"type":"object"},"FeedPublisher":{"required":["id"],"properties":{"url":{"type":"string"},"id":{"type":"string"},"license":{"type":"string"},"name":{"type":"string"}},"type":"object"},"GeoStatus":{"required":["street_network_sources","poi_sources"],"properties":{"nb_admins_from_cities":{"type":"integer"},"street_network_sources":{"items":{"type":"string"},"type":"array"},"poi_sources":{"items":{"type":"string"},"type":"array"},"nb_addresses":{"type":"integer"},"nb_admins":{"type":"integer"},"nb_pois":{"type":"integer"},"nb_ways":{"type":"integer"}},"type":"object"},"ImpactedSection":{"properties":{"routes":{"items":{"$ref":"#/definitions/Route"},"type":"array"},"to":{"$ref":"#/definitions/PtObject"},"from":{"$ref":"#/definitions/PtObject"}},"type":"object"},"LineHeadersSchema":{"required":["cell_lat"],"properties":{"cell_lat":{"$ref":"#/definitions/CellLatSchema"}},"type":"object"},"CommercialMode":{"required":["id","name"],"properties":{"id":{"description":"Identifier of the object","type":"string"},"name":{"description":"Name of the object","type":"string"}},"type":"object"},"Property":{"properties":{"name":{"type":"string"},"value":{"type":"string"}},"type":"object"},"Path":{"required":["duration","direction","length","name"],"properties":{"duration":{"type":"integer"},"direction":{"type":"integer"},"length":{"type":"integer"},"name":{"type":"string"}},"type":"object"},"Context":{"properties":{"timezone":{"description":"Timezone of any datetime in the response, default value Africa/Abidjan (UTC)","type":"string"},"current_datetime":{"description":"The datetime of the request (considered as \"now\")","type":"string"},"car_direct_path":{"$ref":"#/definitions/CO2"}},"type":"object"},"Ticket":{"required":["cost","name","id"],"properties":{"comment":{"type":"string"},"name":{"description":"Name of the object","type":"string"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"cost":{"$ref":"#/definitions/Cost"},"found":{"type":"boolean"},"id":{"description":"Identifier of the object","type":"string"}},"type":"object"},"IndividualRating":{"required":["value"],"properties":{"count":{"type":"integer"},"scale_min":{"format":"float","type":"number"},"scale_max":{"format":"float","type":"number"},"value":{"format":"float","type":"number"}},"type":"object"},"Trip":{"required":["id","name"],"properties":{"id":{"description":"Identifier of the object","type":"string"},"name":{"description":"Name of the object","type":"string"}},"type":"object"},"Table":{"required":["headers","rows"],"properties":{"headers":{"items":{"$ref":"#/definitions/Header"},"type":"array"},"rows":{"items":{"$ref":"#/definitions/Row"},"type":"array"}},"type":"object"},"Impacted":{"properties":{"impacted_stops":{"items":{"$ref":"#/definitions/ImpactedStop"},"type":"array"},"pt_object":{"$ref":"#/definitions/PtObject"},"impacted_section":{"$ref":"#/definitions/ImpactedSection"}},"type":"object"},"DisruptionProperty":{"properties":{"type":{"type":"string"},"key":{"type":"string"},"value":{"type":"string"}},"type":"object"},"PlaceNearby":{"required":["embedded_type","name","id"],"properties":{"embedded_type":{"type":"string","enum":["line","journey_pattern","vehicle_journey","stop_point","stop_area","network","physical_mode","commercial_mode","connection","journey_pattern_point","company","route","poi","contributor","address","poitype","administrative_region","calendar","line_group","impact","dataset","trip"]},"stop_point":{"$ref":"#/definitions/StopPoint"},"administrative_region":{"$ref":"#/definitions/Admin"},"name":{"description":"Name of the object","type":"string"},"distance":{"description":"Distance to the object in meters","type":"string"},"poi":{"$ref":"#/definitions/Poi"},"address":{"$ref":"#/definitions/Address"},"quality":{"type":"integer"},"id":{"description":"Identifier of the object","type":"string"},"stop_area":{"$ref":"#/definitions/StopArea"}},"type":"object"},"Dataset":{"required":["id"],"properties":{"realtime_level":{"type":"string"},"description":{"type":"string"},"system":{"description":"Type of dataset provided (GTFS, Chouette, ...)","type":"string"},"start_validation_date":{"description":"Start of the validity period for the dataset","format":"navitia-date-time","type":"string"},"end_validation_date":{"description":"End of the validity period for the dataset","format":"navitia-date-time","type":"string"},"contributor":{"$ref":"#/definitions/Contributor"},"id":{"description":"Identifier of the object","type":"string"}},"type":"object"},"Amount":{"properties":{"value":{"format":"float","type":"number"},"unit":{"type":"string"}},"type":"object"},"Calendar":{"properties":{"active_periods":{"items":{"$ref":"#/definitions/CalendarPeriod"},"type":"array"},"name":{"description":"Name of the object","type":"string"},"validity_pattern":{"$ref":"#/definitions/ValidityPattern"},"exceptions":{"items":{"$ref":"#/definitions/CalendarException"},"type":"array"},"week_pattern":{"$ref":"#/definitions/WeekPattern"},"id":{"description":"Identifier of the object","type":"string"}},"type":"object"},"StopDateTime":{"required":["links","additional_informations"],"properties":{"stop_point":{"$ref":"#/definitions/StopPoint"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"arrival_date_time":{"format":"navitia-date-time","type":"string"},"additional_informations":{"items":{"type":"string","enum":["pick_up_only","drop_off_only","on_demand_transport","date_time_estimated"]},"type":"array"},"departure_date_time":{"format":"navitia-date-time","type":"string"},"base_arrival_date_time":{"format":"navitia-date-time","type":"string"},"base_departure_date_time":{"format":"navitia-date-time","type":"string"},"data_freshness":{"type":"string","enum":["base_schedule","adapted_schedule","realtime"]}},"type":"object"},"GraphicalIsrochone":{"properties":{"max_duration":{"type":"integer"},"from":{"$ref":"#/definitions/Place"},"geojson":{"properties":{"type":{"type":"object"},"coordinates":{"items":{"items":{"items":{"items":{"format":"float","type":"number"},"type":"array"},"type":"array"},"type":"array"},"type":"array"}},"type":"object"},"min_duration":{"type":"integer"},"min_date_time":{"format":"navitia-date-time","type":"string"},"to":{"$ref":"#/definitions/Place"},"requested_date_time":{"format":"navitia-date-time","type":"string"},"max_date_time":{"format":"navitia-date-time","type":"string"}},"type":"object"},"Section":{"required":["links","co2_emission","duration","id"],"properties":{"display_informations":{"$ref":"#/definitions/VJDisplayInformation"},"from":{"$ref":"#/definitions/Place"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"transfer_type":{"type":"string","enum":["walking","stay_in"]},"arrival_date_time":{"description":"Arrival date and time of the section","format":"navitia-date-time","type":"string"},"additional_informations":{"items":{"type":"string","enum":["odt_with_zone","odt_with_stop_point","odt_with_stop_time","has_datetime_estimated","regular","stay_in"]},"type":"array"},"departure_date_time":{"description":"Departure date and time of the section","format":"navitia-date-time","type":"string"},"ridesharing_informations":{"$ref":"#/definitions/RidesharingInformation"},"to":{"$ref":"#/definitions/Place"},"base_arrival_date_time":{"description":"Base-schedule arrival date and time of the section","format":"navitia-date-time","type":"string"},"base_departure_date_time":{"description":"Base-schedule departure date and time of the section","format":"navitia-date-time","type":"string"},"co2_emission":{"$ref":"#/definitions/Amount"},"ridesharing_journeys":{"items":{"$ref":"#/definitions/Journey"},"type":"array"},"geojson":{"$ref":"#/definitions/SectionGeoJsonSchema"},"duration":{"description":"Duration of the section (seconds)","type":"integer"},"path":{"items":{"$ref":"#/definitions/Path"},"type":"array"},"stop_date_times":{"items":{"$ref":"#/definitions/StopDateTime"},"type":"array"},"type":{"type":"string","enum":["public_transport","street_network","waiting","transfer","boarding","landing","bss_rent","bss_put_back","crow_fly","park","leave_parking","alighting","ridesharing","on_demand_transport"]},"id":{"type":"string"},"data_freshness":{"type":"string","enum":["base_schedule","adapted_schedule","realtime"]},"mode":{"type":"string","enum":["walking","bike","car","bss","ridesharing","carnopark","taxi"]}},"type":"object"},"Fare":{"required":["links"],"properties":{"found":{"type":"boolean"},"total":{"$ref":"#/definitions/Cost"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"}},"type":"object"},"LinkSchema":{"properties":{"category":{"type":"string"},"title":{"type":"string"},"internal":{"type":"boolean"},"value":{"type":"string"},"href":{"type":"string"},"rel":{"type":"string"},"templated":{"type":"boolean"},"type":{"type":"string"},"id":{"type":"string"}},"type":"object"},"Place":{"required":["embedded_type","name","id"],"properties":{"embedded_type":{"type":"string","enum":["line","journey_pattern","vehicle_journey","stop_point","stop_area","network","physical_mode","commercial_mode","connection","journey_pattern_point","company","route","poi","contributor","address","poitype","administrative_region","calendar","line_group","impact","dataset","trip"]},"stop_point":{"$ref":"#/definitions/StopPoint"},"administrative_region":{"$ref":"#/definitions/Admin"},"name":{"description":"Name of the object","type":"string"},"distance":{"description":"Distance to the object in meters","type":"string"},"address":{"$ref":"#/definitions/Address"},"poi":{"$ref":"#/definitions/Poi"},"quality":{"type":"integer"},"id":{"description":"Identifier of the object","type":"string"},"stop_area":{"$ref":"#/definitions/StopArea"}},"type":"object"},"Durations":{"required":["taxi","walking","bike","car","total","ridesharing"],"properties":{"taxi":{"description":"Total duration by taxi of the journey (seconds)","type":"integer"},"walking":{"description":"Total walking duration of the journey (seconds)","type":"integer"},"car":{"description":"Total duration by car of the journey (seconds)","type":"integer"},"ridesharing":{"description":"Total duration by ridesharing of the journey (seconds)","type":"integer"},"bike":{"description":"Total duration by bike of the journey (seconds)","type":"integer"},"total":{"description":"Total duration of the journey (seconds)","type":"integer"}},"type":"object"},"HeatMap":{"properties":{"to":{"$ref":"#/definitions/Place"},"requested_date_time":{"format":"navitia-date-time","type":"string"},"from":{"$ref":"#/definitions/Place"},"heat_matrix":{"$ref":"#/definitions/HeatMatrixSchema"}},"type":"object"},"Distances":{"required":["taxi","car","walking","bike","ridesharing"],"properties":{"taxi":{"description":"Total distance by taxi of the journey (meters)","type":"integer"},"car":{"description":"Total distance by car of the journey (meters)","type":"integer"},"walking":{"description":"Total walking distance of the journey (meters)","type":"integer"},"bike":{"description":"Total distance by bike of the journey (meters)","type":"integer"},"ridesharing":{"description":"Total distance by ridesharing of the journey (meters)","type":"integer"}},"type":"object"},"CarPark":{"properties":{"available":{"type":"integer"},"total_places":{"type":"integer"},"occupied_PRM":{"type":"integer"},"occupied":{"type":"integer"},"available_PRM":{"type":"integer"}},"type":"object"},"Pagination":{"required":["items_per_page","items_on_page","start_page","total_result"],"properties":{"start_page":{"type":"integer"},"items_on_page":{"type":"integer"},"items_per_page":{"type":"integer"},"total_result":{"type":"integer"}},"type":"object"},"CellLonSchema":{"properties":{"min_lon":{"format":"float","type":"number"},"center_lon":{"format":"float","type":"number"},"max_lon":{"format":"float","type":"number"}},"type":"object"},"LinesSchema":{"required":["cell_lon"],"properties":{"duration":{"items":{"type":"integer"},"type":"array"},"cell_lon":{"$ref":"#/definitions/CellLonSchema"}},"type":"object"},"PtObject":{"required":["embedded_type","name","id"],"properties":{"embedded_type":{"type":"string","enum":["line","journey_pattern","vehicle_journey","stop_point","stop_area","network","physical_mode","commercial_mode","connection","journey_pattern_point","company","route","poi","contributor","address","poitype","administrative_region","calendar","line_group","impact","dataset","trip"]},"stop_point":{"$ref":"#/definitions/StopPoint"},"name":{"description":"Name of the object","type":"string"},"route":{"$ref":"#/definitions/Route"},"stop_area":{"$ref":"#/definitions/StopArea"},"commercial_mode":{"$ref":"#/definitions/CommercialMode"},"id":{"description":"Identifier of the object","type":"string"},"line":{"$ref":"#/definitions/Line"},"quality":{"type":"integer"},"trip":{"$ref":"#/definitions/Trip"},"network":{"$ref":"#/definitions/Network"}},"type":"object"},"HeatMatrixSchema":{"required":["line_headers","lines"],"properties":{"line_headers":{"items":{"$ref":"#/definitions/LineHeadersSchema"},"type":"array"},"lines":{"items":{"$ref":"#/definitions/LinesSchema"},"type":"array"}},"type":"object"},"Cause":{"properties":{"label":{"type":"string"}},"type":"object"},"StopSchedule":{"required":["date_times","additional_informations"],"properties":{"stop_point":{"$ref":"#/definitions/StopPoint"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"date_times":{"items":{"$ref":"#/definitions/DateTimeType"},"type":"array"},"route":{"$ref":"#/definitions/Route"},"additional_informations":{"type":"string"},"display_informations":{"$ref":"#/definitions/RouteDisplayInformation"},"last_datetime":{"$ref":"#/definitions/DateTimeType"},"first_datetime":{"$ref":"#/definitions/DateTimeType"}},"type":"object"},"SeatsDescription":{"properties":{"available":{"type":"integer"},"total":{"type":"integer"}},"type":"object"},"CoverageError":{"properties":{"code":{"type":"string"},"value":{"type":"string"}},"type":"object"},"Route":{"required":["name","links","direction_type","id"],"properties":{"direction":{"$ref":"#/definitions/Place"},"codes":{"items":{"$ref":"#/definitions/Code"},"type":"array"},"name":{"description":"Name of the object","type":"string"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"physical_modes":{"items":{"$ref":"#/definitions/PhysicalMode"},"type":"array"},"is_frequence":{"type":"string","enum":["False"]},"comments":{"items":{"$ref":"#/definitions/Comment"},"type":"array"},"direction_type":{"type":"string"},"geojson":{"$ref":"#/definitions/MultiLineStringSchema"},"stop_points":{"items":{"$ref":"#/definitions/StopPoint"},"type":"array"},"line":{"$ref":"#/definitions/Line"},"id":{"description":"Identifier of the object","type":"string"}},"type":"object"},"CurrentAvailability":{"properties":{"status":{"type":"string","enum":["unknown","available","unavailable"]},"effect":{"$ref":"#/definitions/Effect"},"cause":{"$ref":"#/definitions/Cause"},"periods":{"items":{"$ref":"#/definitions/Period"},"type":"array"},"updated_at":{"type":"string"}},"type":"object"},"EquipmentReport":{"properties":{"line":{"$ref":"#/definitions/Line"},"stop_area_equipments":{"items":{"$ref":"#/definitions/StopAreaEquipments"},"type":"array"}},"type":"object"},"Companie":{"required":["codes","id","name"],"properties":{"codes":{"items":{"$ref":"#/definitions/Code"},"type":"array"},"id":{"description":"Identifier of the object","type":"string"},"name":{"description":"Name of the object","type":"string"}},"type":"object"},"VJDisplayInformation":{"required":["direction","links","equipments","headsign"],"properties":{"direction":{"type":"string"},"code":{"type":"string"},"network":{"type":"string"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"color":{"type":"string"},"name":{"type":"string"},"physical_mode":{"type":"string"},"headsign":{"type":"string"},"label":{"type":"string"},"equipments":{"items":{"type":"string","enum":["has_wheelchair_accessibility","has_bike_accepted","has_air_conditioned","has_visual_announcement","has_audible_announcement","has_appropriate_escort","has_appropriate_signage","has_school_vehicle","has_wheelchair_boarding","has_sheltered","has_elevator","has_escalator","has_bike_depot"]},"type":"array"},"text_color":{"type":"string"},"headsigns":{"items":{"type":"string"},"type":"array"},"commercial_mode":{"type":"string"},"description":{"type":"string"}},"type":"object"},"IndividualInformation":{"required":["alias"],"properties":{"alias":{"type":"string"},"image":{"type":"string"},"gender":{"type":"string","enum":["female","male"]},"rating":{"$ref":"#/definitions/IndividualRating"}},"type":"object"},"ImpactedStop":{"required":["is_detour","cause"],"properties":{"amended_arrival_time":{"format":"navitia-time","type":"string"},"stop_point":{"$ref":"#/definitions/StopPoint"},"stop_time_effect":{"type":"string","enum":["delayed","added","deleted","unchanged"]},"departure_status":{"type":"string"},"is_detour":{"type":"boolean"},"amended_departure_time":{"format":"navitia-time","type":"string"},"base_arrival_time":{"format":"navitia-time","type":"string"},"cause":{"type":"string"},"base_departure_time":{"format":"navitia-time","type":"string"},"arrival_status":{"type":"string"}},"type":"object"},"Channel":{"required":["id","content_type","name"],"properties":{"content_type":{"type":"string"},"id":{"type":"string"},"types":{"items":{"type":"string","enum":["web","sms","email","mobile","notification","twitter","facebook","unknown_type","title","beacon"]},"type":"array"},"name":{"type":"string"}},"type":"object"},"SectionGeoJsonSchema":{"properties":{"type":{"type":"string"},"properties":{"items":{"properties":{"length":{"format":"integer","type":"number"}}},"type":"array"},"coordinates":{"items":{"items":{"format":"float","type":"number"},"type":"array"},"type":"array"}},"type":"object"},"Period":{"properties":{"begin":{"format":"navitia-date-time","type":"string"},"end":{"format":"navitia-date-time","type":"string"}},"type":"object"},"CellLatSchema":{"properties":{"min_lat":{"format":"float","type":"number"},"max_lat":{"format":"float","type":"number"},"center_lat":{"format":"float","type":"number"}},"type":"object"},"BetaEndpoints":{"required":["message","id"],"properties":{"message":{"type":"string"},"id":{"type":"string"}},"type":"object"},"DateTimeType":{"required":["date_time","additional_informations","links","data_freshness"],"properties":{"date_time":{"format":"navitia-time-or-date-time","type":"string"},"additional_informations":{"items":{"type":"string"},"type":"array"},"base_date_time":{"format":"navitia-date-time","type":"string"},"data_freshness":{"type":"string"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"}},"type":"object"},"Disruption":{"required":["contributor","id","cause"],"properties":{"status":{"type":"string","enum":["past","active","future"]},"category":{"type":"string"},"severity":{"$ref":"#/definitions/Severity"},"tags":{"items":{"type":"string"},"type":"array"},"messages":{"items":{"$ref":"#/definitions/Message"},"type":"array"},"application_periods":{"items":{"$ref":"#/definitions/Period"},"type":"array"},"impact_id":{"type":"string"},"disruption_id":{"type":"string"},"updated_at":{"format":"navitia-date-time","type":"string"},"uri":{"type":"string"},"impacted_objects":{"items":{"$ref":"#/definitions/Impacted"},"type":"array"},"id":{"type":"string"},"disruption_uri":{"type":"string"},"contributor":{"type":"string"},"cause":{"type":"string"},"properties":{"items":{"$ref":"#/definitions/DisruptionProperty"},"type":"array"}},"type":"object"},"Row":{"required":["date_times"],"properties":{"stop_point":{"$ref":"#/definitions/StopPoint"},"date_times":{"items":{"$ref":"#/definitions/DateTimeType"},"type":"array"}},"type":"object"},"Message":{"properties":{"text":{"type":"string"},"channel":{"$ref":"#/definitions/Channel"}},"type":"object"},"PoiType":{"required":["id","name"],"properties":{"id":{"description":"Identifier of the object","type":"string"},"name":{"description":"Name of the object","type":"string"}},"type":"object"},"StopArea":{"required":["name","links","id"],"properties":{"comment":{"type":"string"},"codes":{"items":{"$ref":"#/definitions/Code"},"type":"array"},"name":{"description":"Name of the object","type":"string"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"physical_modes":{"items":{"$ref":"#/definitions/PhysicalMode"},"type":"array"},"comments":{"items":{"$ref":"#/definitions/Comment"},"type":"array"},"label":{"description":"\nLabel of the stop area. The name is directly taken from the data whereas the label is\n something we compute for better traveler information. If you don't know what to display, display the label.\n","type":"string"},"commercial_modes":{"items":{"$ref":"#/definitions/CommercialMode"},"type":"array"},"coord":{"$ref":"#/definitions/Coord"},"administrative_regions":{"items":{"$ref":"#/definitions/Admin"},"type":"array"},"timezone":{"type":"string"},"stop_points":{"items":{"$ref":"#/definitions/StopPoint"},"type":"array"},"id":{"description":"Identifier of the object","type":"string"}},"type":"object"},"Contributor":{"required":["id","name"],"properties":{"website":{"type":"string"},"id":{"description":"Identifier of the object","type":"string"},"license":{"type":"string"},"name":{"description":"Name of the object","type":"string"}},"type":"object"},"MultiLineStringSchema":{"properties":{"type":{"type":"string"},"coordinates":{"items":{"items":{"items":{"format":"float","type":"number"},"type":"array"},"type":"array"},"type":"array"}},"type":"object"},"Cost":{"properties":{"currency":{"type":"string"},"value":{"type":"string"}},"type":"object"},"RidesharingInformation":{"required":["operator","network"],"properties":{"operator":{"type":"string"},"driver":{"$ref":"#/definitions/IndividualInformation"},"network":{"type":"string"},"seats":{"$ref":"#/definitions/SeatsDescription"}},"type":"object"},"JourneyPattern":{"required":["id","name"],"properties":{"route":{"$ref":"#/definitions/Route"},"journey_pattern_points":{"items":{"$ref":"#/definitions/JourneyPatternPoint"},"type":"array"},"name":{"description":"Name of the object","type":"string"},"id":{"description":"Identifier of the object","type":"string"}},"type":"object"},"LineGroup":{"required":["id","comments","name"],"properties":{"name":{"description":"Name of the object","type":"string"},"lines":{"items":{"$ref":"#/definitions/Line"},"type":"array"},"main_line":{"$ref":"#/definitions/Line"},"comments":{"items":{"$ref":"#/definitions/Comment"},"type":"array"},"id":{"description":"Identifier of the object","type":"string"}},"type":"object"},"PhysicalMode":{"required":["id","name"],"properties":{"id":{"description":"Identifier of the object","type":"string"},"name":{"description":"Name of the object","type":"string"}},"type":"object"},"Comment":{"properties":{"type":{"type":"string"},"value":{"type":"string"}},"type":"object"},"Error":{"required":["id"],"properties":{"message":{"type":"string"},"id":{"type":"string"}},"type":"object"},"Severity":{"properties":{"color":{"type":"string"},"priority":{"type":"integer"},"name":{"type":"string"},"effect":{"type":"string","enum":["NO_SERVICE","REDUCED_SERVICE","SIGNIFICANT_DELAYS","DETOUR","ADDITIONAL_SERVICE","MODIFIED_SERVICE","OTHER_EFFECT","UNKNOWN_EFFECT","STOP_MOVED"]}},"type":"object"},"Coverage":{"required":["name","shape","id"],"properties":{"status":{"type":"string"},"dataset_created_at":{"description":"Creation date of the dataset","type":"string"},"name":{"description":"Name of the coverage","type":"string"},"start_production_date":{"description":"Beginning of the production period. We only have data on this production period","type":"string"},"shape":{"description":"GeoJSON of the shape of the coverage","type":"string"},"end_production_date":{"description":"End of the production period. We only have data on this production period","type":"string"},"error":{"$ref":"#/definitions/CoverageError"},"last_load_at":{"description":"Datetime of the last data loading","type":"string"},"id":{"description":"Identifier of the coverage","type":"string"}},"type":"object"},"RouteSchedule":{"required":["additional_informations"],"properties":{"display_informations":{"$ref":"#/definitions/RouteDisplayInformation"},"table":{"$ref":"#/definitions/Table"},"additional_informations":{"type":"string"},"geojson":{"$ref":"#/definitions/MultiLineStringSchema"},"links":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"}},"type":"object"},"Admin":{"required":["name","id","zip_code"],"properties":{"insee":{"type":"string"},"name":{"description":"Name of the object","type":"string"},"level":{"type":"integer"},"coord":{"$ref":"#/definitions/Coord"},"label":{"type":"string"},"id":{"description":"Identifier of the object","type":"string"},"zip_code":{"type":"string"}},"type":"object"},"Exception":{"required":["id"],"properties":{"date":{"format":"navitia-date-time","type":"string"},"type":{"type":"string"},"id":{"type":"string"}},"type":"object"},"VehicleJourney":{"required":["name","disruptions","id"],"properties":{"comment":{"type":"string"},"codes":{"items":{"$ref":"#/definitions/Code"},"type":"array"},"name":{"description":"Name of the object","type":"string"},"journey_pattern":{"$ref":"#/definitions/JourneyPattern"},"disruptions":{"items":{"$ref":"#/definitions/LinkSchema"},"type":"array"},"calendars":{"items":{"$ref":"#/definitions/Calendar"},"type":"array"},"stop_times":{"items":{"$ref":"#/definitions/StopTime"},"type":"array"},"comments":{"items":{"$ref":"#/definitions/Comment"},"type":"array"},"validity_pattern":{"$ref":"#/definitions/ValidityPattern"},"id":{"description":"Identifier of the object","type":"string"},"trip":{"$ref":"#/definitions/Trip"}},"type":"object"},"CalendarPeriod":{"properties":{"begin":{"format":"navitia-date","type":"string"},"end":{"format":"navitia-date","type":"string"}},"type":"object"}},"info":{"title":"Calculateur Ile-de-France Mobilités - Accès générique","description":"L’API Calculateur Ile-de-France Mobilités – Accès générique (Navitia) regroupe un ensemble de services permettant aux voyageurs de consulter les informations sur les réseaux de transport Franciliens.\n\nÀ travers ces différents chemins, le calculateur vous permet de faire :\n\n* La recherche de lieux\n* La recherche d’itinéraires\n* La découverte des horaires de passages théoriques\n* Le calcul d’itinéraires\n* Le calcul d’isochrones\n* L’exploration du réseau\n\nCette API s’appuie sur la technologie Navitia et retourne des résultats sous forme d’objets JSON.\n\n----------\n\n**Accès à l'API**\n\nVous devez être connecté à [votre compte utilisateur](https://connect.navigo.fr/auth/realms/connect-b2b/protocol/openid-connect/auth?client_id=prim&redirect_uri=https://prim.iledefrance-mobilites.fr/fr/&response_type=code&scope=openid%20email) pour accéder à l'API.\n\n----------\n\n**Documentations**\n\n-   **Documentation générale**\n\n[Une documentation générale](https://prim.iledefrance-mobilites.fr/Documentation%20fonctionnelle%20PRIM%20-%20Septembre%202021.pdf) permet de mieux appréhender l’API et d’en connaître les précautions d'usage.\n\n-   **Documentation technique**\n\n[Une documentation technique](http://doc.navitia.io/) permet de connaître plus en détail les fonctions et les paramétrages possibles de l'API.\n\n----------\n\n**Conditions Générales d'Utilisation de l'API et licence des données**\n\nL'utilisation de l'API Île-de-France Mobilités est soumise à des [Conditions Générales d'Utilisation](https://prim.iledefrance-mobilites.fr/fr/conditions-utilisation) Les données issues de l'API Île-de-France Mobilités sont soumises à la licence [Open Database License (OdBL)](https://spdx.org/licenses/ODbL-1.0.html#licenseText)\n","version":"2.0.3"}}